<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testapi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main_com"></activity>
        <activity android:name=".Main_gb" />
        <activity android:name=".Main_more" />
        <activity android:name=".Main_soma" />
        <activity android:name=".Main_sudan" />
        <activity android:name=".Main_lib" />
        <activity android:name=".Main_alg" />
        <activity android:name=".Main_tni" />
        <activity android:name=".Main_mor" />
        <activity android:name=".Main_egy" />
        <activity android:name=".Main_qatar" />
        <activity android:name=".Main_oman" />
        <activity android:name=".Main_ku" />
        <activity android:name=".Main_bah" />
        <activity android:name=".Main_uae" />
        <activity android:name=".Main_ksa" />
        <activity android:name=".Main_yemen" />
        <activity android:name=".Main_pla" />
        <activity android:name=".Main_lebanon" />
        <activity android:name=".Main_syria" />
        <activity android:name=".Main_iraq" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>